@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	font-family: 'Titillium Web', sans-serif;
}

.col{
	background-color: #f7f7f7;
}

.navbar{
	background-color: #ffffff;
	box-shadow: 10px 15px 20px rgba(0, 0, 0);
	min-height: 100px;
}

.nav-link{
	color: #1a1a1a;
}

.logo-brand{
	min-width: 160px;
	max-width: 180px;
}

.navbar-toggler{
	font-size: 40px;

}

.navbar-toggler:focus{
	outline: none;
}

.pricing-container{
	margin: 15px 0;
}



.plans{
	padding: 50px 80px;
	border-radius: 2px;
	background-color: #ffffff;
	border: 2px solid #1a1a1a;
	max-width: 500px;
}

.plans a{
    background-color: #132644;
}

.plans:hover{
    transition: all linear .3s;
    transform: scale(1.1);
    background-color: #132644;
    color: #ffffff;
}

.plans:hover > .btn {
     background-color: #ffffff; 
     color: #132644;
}

.plans:hover > .img {
     transform: rotate(20deg);
     transition: all linear .3s;
}


.btn{
	font-size: 14px;
	padding: 15px 25px;
	min-width: 160px;
	border-radius: 2px;
	display: line-block;

}



.btn-dark{
	background-color: #1a1a1a;
	color: #ffffff;
	border: 2px solid #1a1a1a;
}

/* tabla */
.estado-2{
	background-color: #f5d4d7 !important;
}

.btn-eliminar i{
	font-size: 19px;
	align-items: center;
	padding-left: 35%;
	color: #e34724;
	cursor: pointer;
}

/* tabla admin */
.dt-buttons{
    margin-left: 90%;
    margin-bottom: 2%;

}

.dt-button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    border-radius: 6px;
    border: 2px solid black;
}

.dt-button span{
    color: white;
}


.buttons-excel{
    background-color: #2f854f;
}

.dataTables_filter{
    margin-left: 25%;
    margin-top: -50px;
}

.dataTables_paginate{
    width: 20%;
    margin-left: 80%;
}

.paginate_button{
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.current{
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.card-header{ 
    color: #ffffff;
}

/* configuraciones Admin */
.card-config p{
    text-align: justify;
}

.btn-estado-periodo{
    color: white!important;
}

.btn-estado-periodo:hover{
    transition: all linear .3s;
    transform: scale(1.1);
    cursor: pointer;
}

.btn-reiniciar{
    color: #dc3545!important;
}

.btn-reiniciar:hover{
    color: white!important;
    cursor: pointer;
}



/* estilos sidebar*/
	#body-row {
        margin-left: 0;
        margin-right: 0;
    }

    #sidebar-container {
        min-height: 100vh;
        background-color: #132644;
        padding: 0;
        /* flex: unset; */
    }
    
    .sidebar-expanded {
        width: 230px;
    }
    
    .sidebar-collapsed {
        /*width: 60px;*/
        width: 100px;
    }

    /* ----------| Menu item*/    
    #sidebar-container .list-group a {
        height: 50px;
        color: white;
    }

    /* ----------| Submenu item*/    
    #sidebar-container .list-group li.list-group-item {
        background-color: #132644;
    }
    
    #sidebar-container .list-group .sidebar-submenu a {
        height: 45px;
        padding-left: 30px;
    }
    
    .sidebar-submenu {
        font-size: 0.9rem;
    }

    /* ----------| Separators */    
    .sidebar-separator-title {
        background-color: #132644;
        height: 35px;
    }
    
    .sidebar-separator {
        background-color: #132644;
        height: 25px;
    }
    
    .logo-separator {
        background-color: #132644;
        height: 60px;
    }
    
    a.bg-dark {
        background-color: #132644 !important;
    }


/* responsive */

@media screen and (min-width: 1500px){
    .principal{
        width: 1200px;
    }
}